body {
    background-image: url("/img/Motohospital_logo.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-color: black;
    background-size: 50% 100%;
    /*margin: 0;
    padding: 0;*/
}

.header {
    height: 50px;
    font-size: 35px;
    text-align: right;
    background-color: transparent;
    border: 1px solid black;
    color: red;
    position: fixed;
    min-width: 74.2%;
}

.footer {
    height: 20px;
    text-align: center;
    background-color: rgb(111, 116, 214);
    border: 1px solid black;
    color: red;
}

.wrapperis {
    float: right;
    text-align: right;
    color: white;
    height: 534px;
}

.mano_nuotrauka{
    color: white;
}


