body {
    background-image: url("/img/Motohospital_logo.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-color: black;
    background-size: 50% 100%;
    /*margin: 0;
    padding: 0;*/
}
.rowSpalva1 {
    background-color: #4a66ce;
}
.rowSpalva2 {
    background-color: transparent;
    color: white;
}

/*
.header {
    height: 50px;
    font-size: 35px;
    text-align: right;
    background-color: transparent;
    border: 1px solid black;
    color: red;
    position: fixed;
    width: 35%;
    margin: 2%;
}
#footer {
    position: fixed;
    height: 30px;
    text-align: center;
    background-color: transparent;
    color: red;
    width: 100%;
    bottom: 0%;
}
.wrapperis {
    border: solid;
    border-color: chartreuse;
    float: right;
    text-align: left;
    color: white;
    /*height: 534px;
}
.p{
    margin: 1px;
    border: 2px solid white;
    border-radius: 5px;
}
.sidebar{
    float: right;
}
.mano_nuotrauka{
    color: white;
}
*/
