body{
    background-color: bisque;
    color: indigo;
    margin: 0;
    padding: 0;
}
.header, .footer{
    height: 150px;
    text-align: center;
}

.sidebar, .content {
    float: left;
    display: block;
}
.sidebar {
    width: 200px;
}
.content {
    width: 300px;
}
.content, .sidebar {
    background-color: aqua;
    color: indigo;
}
.header, .footer {
border: 1px solid black;
    color: red;
}