body{
    background-color: green;
    color: white;
    margin:0;
    padding: 0;
}
.wrapperis{
    border: thick;
    display:flex;
}
.header, .footer {
    text-align: center;
    background-color: #e3e300;
    color: white;
    border: 1px solid black;
}
.sidebar, .content{
    float:left;
    dipslay: block;
}

.content{
    width: 80%;
    font-weight: bold;
    font-size: 30px;
    height: 300px;
    text-align: center;
}
.sidebar{
    width: 15%;
    font-weight: bold;
    font-size: 30px;
    background-color: cadetblue;
    height: 250%;
    border: double;
}
.footer{
    background-color: red;
    font-size: 40px;
    font-weight: bold;
    height: 170px;
}
.header{
    color: blue;
    font-size: 50px;
    font-weight: bold;
    padding: 30px;
    height: 120px;
}
a:link, a:visited {
    background-color: #1026f4;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: double;
    display: inline-block;
    float:left;
    margin: 10px;
}


a:hover, a:active {
    background-color: red;
}
.remejai{
    font-size: 20px;
    background-color: white;
    color: black;
}
p.Reklama{
    font-size: 20px;
}

