body{
background-color: lightblue;
color: blue;
margin: 0;
padding: 0;
}

.header, .footer, .content {
height: 200px;
text-align: center;
border: 1px solid black;
color: white;
}


.sidebar{
height: 768px;
float: left;
display: block;
border: 1px solid black;
background-color: #65d698;
width: 150px;
}


.wrapper{
height: 500px;
font-family: "Times New Roman", Times, serif;
font-size: 19px;
color: white;
}

.header{
font-family: "Times New Roman", Times, serif;
text-shadow: 3px 2px red;
font-size: 30px;
text-align: center;
}

.footer {
font-family: "Times New Roman", Times, serif;
font-size: 15px;
text-align: right;
color: black;
background-color: yellow;
}
a:link {
    color: red;
}
a:visited {
    color: green;
}
a:hover {
    color: hotpink;
}
a:active {
    color: blue;
}

ul.content {
    list-style-type: circle;
}
ul {
    list-style-position: inside;
}