nav {
    height: inherit;
}
.meniu {
    height: inherit;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.meniu li {
    height: inherit;
    float: left;
}
.meniu_elem a {
    height: inherit;
    display: block;
    min-width: 100px;
    text-decoration: none;
    padding-top: 14px;
}
.meniu_elem:hover {
    background-color: #e3e300;
}
