body{
    background-color: lightcyan;
    color: blue;
    margin: 10px;
    padding: 10px;

}

 .footer {
    height: 150px;
    text-align: left;
    border: 5px solid black;
    color: red;
}
.header{
    height: 150px;
    text-align: center;
    border: 5px solid black;
    color: black;
    font-family: "fantasy";
    font-size: 200%;
}
.sidebar, .sidebar1 {

    display: block;
    text-align: left;
}
h4 {
    text-align: center;
    border: 3px solid gray;
}
p {
    background-color: bisque;
    border: 3px solid whitesmoke;
    margin: 25px;

}

.content {
    width: 60%;
    color: blueviolet;
    background-color: sandybrown;
    display: block;
    height: 100%;
    float: left;

}
.wraper {
    height: 600px;
}
.sidebar {
    color: red;
    background-color: gold;
    height: 100%;
    width: 20%;
    float: right;



}
.sidebar1 {
    color: red;
    background-color: gold;
    height: 100%;
    width: 20%;
    float: left;

}